body{
    font-family: sans-serif;
}
#wrap{
    width: 960px;
    margin: auto;
    background-color: blue;
    padding: 10px 20px;
}
#topo img{
    width: 350px;
    padding: 20px 300px;
}
header nav ul{
    list-style: none;
    padding-left: 220px;
}
header nav ul li {
    float: center;
    margin-right: 20px;
    display: inline-block;
}
header nav ul li a{
    font-size: 18px;
    color: yellow;
    text-decoration: none;
    font-weight: 600;
}
header nav ul li a:hover{
    text-decoration: underline;
}
#content{
    float: left;
    width: 650px;
    background-color: aliceblue;
    padding: 10px;
    
}
#sidebar{
    float: right;
    width: 290px;
    background-color: darkgrey;
}
sidebar ul{
    list-style: none;
}
sidebar ul li a{
    color: #ff6600;
    text-decoration: none;
}
sidebar ul li a:hover{
    text-decoration: underline;
}
footer{
    clear: both;
    background-color: blue;
    text-align: center;
    padding: inherit;
}